@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f8fafc;
    color: #0f172a;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Dit zorgt voor die mooie oranje kleur als iemand tekst selecteert */
  ::selection {
    background-color: rgba(217, 119, 6, 0.2); 
  }
}